# Datos del dispositivo
DEVICE_ID=rpi-001

# Nombre y ubicación (opcional pero recomendado)
DEVICE_NAME=
DEVICE_LOCATION=ETSII, Sevilla

COMMUNICATION_MODE=mqtt         # Opciones: mqtt, http  (usar http para local)

# Logging
LOG_LEVEL=INFO

# ============================================
# Configuración MQTT (if COMMUNICATION_MODE=mqtt)  DESPLIEGUE
# ============================================

# MQTT Broker 
MQTT_BROKER=.eu-central-1.emqxsl.com
MQTT_PORT=8883
MQTT_TOPIC=

# MQTT Credenciales
MQTT_USERNAME=
MQTT_PASSWORD=

# Memoria MQTT (mensajes en memoria por si está offline)
MQTT_BUFFER_SIZE=100

# ============================================
# Configuración HTTP (if COMMUNICATION_MODE=http)   LOCAL Y DESPLIEGUE ALTERNATIVO (NO USADO)
# ============================================

# Backend API URL
HTTP_BASE_URL=http://localhost:8000                  # Local (desarrollo)
HTTP_BASE_URL=https://tfg-raspberrypi-ble.fly.dev    # Producción (Fly.io)

# API Key (opcional)
HTTP_API_KEY=

# HTTP Timeout (segundos)
HTTP_TIMEOUT=10

# ============================================
# Configuración del escáner
# ============================================

# Duracíon del escaneo (segundos)
SCAN_DURATION=10

# Intervalo de tiempo entre escaneos (segundos)
SCAN_INTERVAL=30

# Umbrales de zona (RSSI)
NEAR_THRESHOLD=-60
MEDIUM_THRESHOLD=-75

# Modo de desarrollo (usar mock scanner)
USE_MOCK_SCANNER=false
