# .env en local (desarrollo)
# VITE_API_URL=http://localhost:8000


# .env en producción (despliegue)
# VITE_API_URL=https://tfg-raspberrypi-ble.fly.dev
# VITE_WS_URL=wss://tfg-raspberrypi-ble.fly.dev
